input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], input[type=search], textarea {
  border: 2px solid #cccccc;
  padding: .6em 1em;
  font-weight: 200;
  width: 100%;
  -webkit-appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  border-radius:2px;
}
